.card {
    background-position: center;
    width: 200px;
    margin: 7px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 1s ease;
    box-shadow: 1px 1px 5px 5px rgba(12, 13, 13, 0.2);
    text-align: center;
    position: relative;
    display: block;
}

.card:hover {
    transform: scale(1.1);

}

hr {
    height: 2px;

}


.one {

    font-size: 30px;
    font-weight: bold;
}

.two {
    font-size: 15px;
    font-weight: bold;
    color: #d2d2d2;
    line-height: 30px;
}

.there {
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
}

button {
    height: 34px;
    width: 90px;
    color: white;
    margin: 25px;
    border-radius: 8px;
    border: none;
}

.cl1 {
    background-color: #c63856;
}

.cl2 {
    background-color: #d7913c;
}

.cl3 {
    background-color: #2b6687;
}

.cl4 {
    background-color: #63b935;
}

table {
    margin: 60px;
    padding: 60px;
    background-size: 20%;
    background-color: #f3f3f3;
}