body {
    background-color: #85aeb0;
}

.block {
    background-color: rgba(250, 247, 247, 0.4);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    font-family: Arial, serif;
}

sup {
    color: blue;
    font-size: 12px;
}

.box {
    background-color: #37506c;
}


#info {
    color: white;
}

.box1 {
    background-color: #37506c;
}

#info1 {
    color: white;
}

@media (min-width: 1001px) {
    .block {
        width: 1000px;
        line-height: 1.5;
        padding: 20px;
    }

    .title {
        margin-top: -10px;
    }

    span {
        display: block;
        margin-right: 10px;
        width: 680px;
        font-size: 18px;
    }


    .imgText {
        margin-top: -250px;
        float: right;
    }

    .box {
        border-radius: 20px;
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: right;
        width: 300px;
        height: 320px;
    }

    .box1 {
        border-radius: 20px;
        text-align: right;
        width: 300px;
    }

    #info1 {
        margin: 10px 30px;
        padding: 10px;
    }

    #info {
        margin-top: -10px;
        margin-right: 10px;
        padding: 10px;
        text-indent: 100px;
    }

    #img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 300px;
        height: 280px;
    }

    #img1 {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 300px;
        height: 280px;
    }
}
@media (min-width: 801px) and (max-width: 1000px){
    .block {
        width: 800px;
        line-height: 1.5;
        padding: 20px;
    }

    .title {
        margin-top: -10px;
    }

    span {
        display: block;
        margin-right: 10px;
        width: 480px;
        font-size: 16px;
        font-weight: bolder;
    }


    .imgText {
        margin-top: -260px;
        float: right;
    }

    .box {
        border-radius: 20px;
        margin-top: 4px;
        margin-bottom: 10px;
        text-align: right;
        width: 300px;
        height: 320px;
    }

    .box1 {
        border-radius: 18px;
        width: 300px;
        text-align: right;
    }

    #info1 {
        margin: 10px 28px;
        padding: 10px;
    }

    #info {
        margin-top: -8px;
        margin-right: 10px;
        padding: 10px;
        text-indent: 100px;
    }

    #img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 300px;
        height: 280px;
    }

    #img1 {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 300px;
        height: 280px;
    }
}
@media (min-width: 601px) and (max-width: 800px){
    .block {
        width: 600px;
        line-height: 1.5;
        padding: 20px;
    }

    .title {
        margin-top: -8px;
    }

    span {
        display: block;
        margin-right: 10px;
        width: 550px;
        font-size: 14px;
        font-weight: bolder;
    }


    .imgText {
        display: flex;
        margin: 20px 5px;
    }

    .box {
        border-radius: 20px;
        margin-top: 4px;
        margin-bottom: 8px;
        text-align: right;
        width: 260px;
        height: 300px;
    }

    .box1 {
        margin-left: 30px;
        border-radius: 15px;
        width: 260px;
        text-align: right;
    }

    #info1 {
        margin: 10px 25px;
        padding: 5px;
        font-size: 12px;
    }

    #info {
        margin-top: -5px;
        margin-right: 10px;
        font-size: 12px;
        padding: 20px;
        text-indent: 30px;
    }

    #img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 260px;
        height: 240px;
    }

    #img1 {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 260px;
        height: 240px;
    }
}
@media (max-width: 600px){
    .block {
        width: 400px;
        line-height: 1.5;
        padding: 20px;
    }

    .title {
        margin-top: -5px;
    }

    span {
        display: block;
        margin-right: 10px;
        width: 380px;
        font-size: 14px;
        font-weight: bolder;
    }


    .imgText {
        display: inline-block;
        margin-bottom: 20px;
    }

    .box {
        border-radius: 20px;
        margin-top: 4px;
        margin-bottom: 8px;
        text-align: right;
        width: 380px;

    }

    .box1 {
        border-radius: 15px;
        width: 380px;
        text-align: right;
    }

    #info1 {
        margin: 5px 25px;
        padding: 10px;
        font-size: 12px;
    }
    #info {
        margin-top: -5px;
        margin-right: 10px;
        font-size: 12px;
        padding: 20px;
        text-indent: 30px;
    }

    #img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 380px;
        height: 340px;
    }

    #img1 {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 380px;
        height: 340px;
    }
}